<div class="error-container">
  <div class="error-title">
    <h1>OOPS...</h1>
  </div>

  <div class="error-image">
    <img src="./assets/image/warning.png">
  </div>

  <div class="error-text">
    <h2>Caro usuário,</h2>
    <p>Foi identificado e monitorado um problema momentâneo durante o atendimento desta solicitação, pedimos que tente novamente dentro de minutos.</p>

    <a pButton type="button" label="Página inicial" 
      [routerLink]="['/home']"
      href="javascript:;"
      class="ui-button-secondary"
      icon="pi pi-home"></a>
  </div>
</div>