<p-card header="Autênticação">

  <p-progressBar mode="indeterminate" [style]="progressBarStyle"></p-progressBar>

  <form [formGroup]="formulario" (ngSubmit)="autenticar()">
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-12 ui-fluid">
          <label>Tipo *</label>
          <p-selectButton [options]="tipos" formControlName="tipo"
            (onChange)="onTipoSelecionado($event)"></p-selectButton>
        </div>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>{{ labelCpfCnpj }} *</label>
        <p-inputMask [mask]="maskCpfCnpj" formControlName="cpfCnpj"></p-inputMask>
        <app-message [control]="formulario.get('cpfCnpj')" error="required" text="CPF/CNPJ obrigatório"></app-message>
        <app-message [control]="formulario.get('cpfCnpj')" error="cpfvalidator" text="CPF inválido"></app-message>
        <app-message [control]="formulario.get('cpfCnpj')" error="cnpjvalidator" text="CNPJ inválido"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Código controle *</label>
        <p-inputMask mask="*****-*****" formControlName="codigoControle"></p-inputMask>
        <app-message [control]="formulario.get('codigoControle')" error="required" text="Código controle obrigatório"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Data emissão *</label>
        <p-calendar formControlName="dataHoraEmissao" name="dataHoraEmissao"
          dateFormat="dd/mm/yy" hourFormat="24"
          [locale]="pt_BR"></p-calendar>
        <app-message [control]="formulario.get('dataHoraEmissao')" error="required" text="Data emissão obrigatória"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
          <p-captcha siteKey="6LecYzsUAAAAAJoXBe--QbDSlt5TFYUZ-bKtauvv"
          #recaptcha></p-captcha>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <button pButton type="submit" label="Autênticar"
          [disabled]="!formulario.valid"
          class="ui-button-info"></button>
      </div>
      <div class="ui-g-6 ui-g-offset-2" style="text-align: right;">
        <a pButton type="button" label="Página inicial" 
          [routerLink]="['/home']"
          href="javascript:;"
          class="ui-button-secondary"
          icon="pi pi-home"></a>
      </div>
    </div>
  </form>
</p-card>






<p-dialog header="Autênticação" 
  [(visible)]="displayModalAutenticacao" 
  [modal]="true" 
  [responsive]="true"
  [maximizable]="true" 
  [baseZIndex]="10000" 
  [blockScroll]="true" 
  [closable]="true">


  <div id="print-area">
    <div class="certidao-container">
      <table class="certidao-header">
        <tr>
          <td class="logo-left">
            <img src="./assets/image/brasao-rondonia-grande.png">
          </td>
          <td class="text">
                <span>
                  GOVERNO DO ESTADO DE RONDÔNIA<br>
                </span>
                <span>
                  SECRETARIA DE ESTADO DE FINANÇAS<br>
                </span>
                <span>
                  SUPERINTENDÊNCIA DE CONTABILIDADE<br>
                </span>
                <span>
                  DIRETORIA CENTRAL DE CONTABILIDADE
                </span>
          </td>
          <td class="logo-right">
            <img src="./assets/image/logo-sefin.png">
          </td>
        </tr>
      </table>

      <table class="certidao-title">
        <tr> 
            <td>
              <span>CERTIDÃO AUTÊNTICA</span>
            </td>
        </tr>
      </table>

      <table class="certidao-content" style="width: 100%">
        <tr>
          <td style="font-weight: bold" colspan="2">{{ certidao?.tipo === 'Convênios' ? 'CNPJ' : 'CPF'}}</td>
          <td style="font-weight: bold">Tipo</td>
        </tr>
        <tr>
          <td colspan="2">{{ certidao?.cpfCnpj }}</td>
          <td>{{ certidao?.tipo }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Código controle</td>
          <td style="font-weight: bold">Emissão</td>
          <td style="font-weight: bold">Validade</td>
        </tr>
        <tr>
          <td>{{ certidao?.codigoControle }}</td>
          <td>{{ certidao?.dataHoraEmissao | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ certidao?.dataValidade | date:'dd/MM/yyyy' }}</td>
        </tr>

        <tr class="esconder-impressao">
          <td>
            <button printSectionId="print-area"
              styleSheetFile="./assets/css/certidao.css" 
              ngxPrint  pButton type="button" icon="pi pi-print"
              label="Imprimir"
              class="ui-button-info"></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</p-dialog>