
<p-dialog [header]="certidao.nomeRazaoSocial + ' - ' + certidao.tipo?.valueOf()" 
  [(visible)]="displayModalCertidao" 
  [modal]="true" 
  [responsive]="true"
  [maximizable]="true" 
  [baseZIndex]="10000" 
  [style]="modalStyle" 
  [blockScroll]="true" 
  [closable]="true">


<div id="print-area">
<div class="certidao-container">
<table class="certidao-header">
  <tr>
    <td class="logo-left">
      <img src="./assets/image/brasao-rondonia-grande.png">
    </td>
    <td class="text">
          <span>
            GOVERNO DO ESTADO DE RONDÔNIA<br>
          </span>
          <span>
            SECRETARIA DE ESTADO DE FINANÇAS<br>
          </span>
          <span>
            SUPERINTENDÊNCIA DE CONTABILIDADE<br>
          </span>
          <span>
            DIRETORIA CENTRAL DE CONTABILIDADE
          </span>
    </td>
    <td class="logo-right">
      <img src="./assets/image/logo-sefin.png">
    </td>
  </tr>
</table>

<table class="certidao-title">
  <tr> 
      <td>
        <span>CERTIDÃO NEGATIVA DE {{ certidao.tipo | uppercase }}</span>
      </td>
  </tr>
</table>

<table class="certidao-person">
    <tr> 
        <td>
          <span>Nome: </span>
          <span>{{ certidao.nomeRazaoSocial | uppercase }}</span>
        </td>
    </tr>
    <tr> 
        <td>
          <span>{{ certidao.tipo === 'Convênios' ? 'CNPJ: ' : 'CPF: ' }} </span>
          <span>{{ certidao.cpfCnpj }}</span>
        </td>
    </tr>
</table>

<table class="certidao-content">
  <tr> 
    <td>
      <p *ngIf="certidao.status === 'NADA_CONSTA'">
        Em atendimento à solicitação a esta Superintendência de Contabilidade e em cumprimento ao preceito constitucional insculpido no inciso XXXIII do artigo 5º da Carta Magna, regulado pela Lei Federal n. 12.527/2011, certificamos que <b>NÃO CONSTAM</b> pendências para a {{ certidao.tipo === 'Convênios' ? 'empresa' : 'pessoa' }} acima identificada relativas a {{ certidao.tipo }}, para o momento em que foi realizada esta consulta.
      </p>
      <p *ngIf="certidao.status === 'CONSTA'">
        Em atendimento à solicitação a esta Superintendência de Contabilidade e em cumprimento ao preceito constitucional insculpido no inciso XXXIII do artigo 5º da Carta Magna, regulado pela Lei Federal n. 12.527/2011, certificamos que <b>CONSTAM</b> as seguintes pendências para a {{ certidao.tipo === 'Convênios' ? 'empresa' : 'pessoa' }} acima identificada relativas a {{ certidao.tipo }}, para o momento em que foi realizada esta consulta:
      </p>
    </td>
  </tr>
</table>

<table class="table-pendencias" *ngIf="certidao.status === 'CONSTA'">
  <thead>
    <tr>
      <th *ngIf="certidao.tipo === 'Convênios'" class="convenio-column">Convênio</th>
      <th class="ug-column">UG</th>
      <th>Situação</th>
      <th class="valor-column">Valor (R$)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of certidao.pendencias">
      <td *ngIf="certidao.tipo === 'Convênios'" class="convenio-column">{{ p.convenio }}</td>
      <td class="ug-column">{{ p.ug }}</td>
      <td>{{ p.situacao }}</td>
      <td class="valor-column">{{ p.valor | number:'1.2-2' }}</td>
    </tr>

    <tr>
      <td class="total-column" [attr.colspan]="certidao.tipo === 'Convênios' ? '3' : '2'">Total (R$)</td>
      <td class="saldo-column">{{ certidao.saldo | number:'1.2-2' }}</td>
    </tr>
  </tbody>
</table>

<table class="certidao-content">
  <tr>
    <td>
      <p>
        Esta informação refere-se exclusivamente à consulta nos registros contábeis do Estado de Rondônia, constantes no Sistema Integrado de Administração Financeira Para Estados e Municípios - SIAFEM.    
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        Registramos que a informação é primária, íntegra, autêntica e atualizada, entretanto, esta Superintendência não se responsabiliza por pendências que, por ventura, não tenham sido lançadas oportuna e tempestivamente pelas unidades gestoras. 
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        A autenticação desta certidão deverá ser confirmada pelo Órgão Interessado na página da Secretaria de Finanças do 
        Estado de Rondônia na Internet, no endereço <a [routerLink]="['/autenticacao']" target="_blank">http://srvcontabil.sefin.ro.gov.br/certidao/autenticacao</a>
      </p>
    </td>
  </tr>
</table>

<table class="certidao-info">    
    <tr> 
      <td>
        <span>Situação do {{ certidao.tipo === 'Convênios' ? 'CNPJ' : 'CPF' }} no SIAFEM: </span> 
        <span>{{ certidao.situacaoDocumento }}</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Emitida em: </span> 
        <span>{{ certidao.dataHoraEmissao | date:'dd/MM/yyyy HH:mm:ss' }}</span>
      </td>
    </tr>
    <tr> 
      <td>
        <span>Válida até </span>
        <span>{{ certidao.dataValidade | date:'dd/MM/yyyy' }}</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Código de Controle Nº: </span>
        <span>{{ certidao.codigoControle }}</span>
      </td>
    </tr>
    
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr class="esconder-impressao">
      <td>
        <button printSectionId="print-area"
          styleSheetFile="./assets/css/certidao.css"
          class="ui-button-info"
          label="Imprimir"
          ngxPrint  pButton type="button" icon="pi pi-print"></button>
      </td>
    </tr>
  </table>
</div>
</div>
</p-dialog>

<p-dialog [header]="certidao.nomeRazaoSocial + ' - ' + certidao.tipo?.valueOf()" 
  [(visible)]="displayModalAviso" 
  [modal]="true" 
  [responsive]="true"
  [maximizable]="true" 
  [baseZIndex]="10000" 
  [style]="modalStyle" 
  [blockScroll]="true" 
  [closable]="true">


  <div id="print-area">
    <div class="certidao-container">
      <table class="certidao-header">
        <tr>
          <td class="logo-left">
            <img src="./assets/image/brasao-rondonia-grande.png">
          </td>
          <td class="text">
                <span>
                  GOVERNO DO ESTADO DE RONDÔNIA<br>
                </span>
                <span>
                  SECRETARIA DE ESTADO DE FINANÇAS<br>
                </span>
                <span>
                  SUPERINTENDÊNCIA DE CONTABILIDADE<br>
                </span>
                <span>
                  DIRETORIA CENTRAL DE CONTABILIDADE
                </span>
          </td>
          <td class="logo-right">
            <img src="./assets/image/logo-sefin.png">
          </td>
        </tr>
      </table>

      <table class="certidao-content">
        <tr> 
          <td>
            <p>
              Em atendimento à solicitação a esta Superintendência de Contabilidade e em cumprimento ao preceito constitucional insculpido no inciso XXXIII do artigo 5º da Carta Magna, regulado pela Lei Federal n. 12.527/2011, comunicamos que não temos informações suficientes em nossa base de dados para o  {{ formulario.get('tipo')?.value === 'CONVENIOS' ? 'CNPJ' : 'CPF' }} Nº <b>{{ formulario.get('cpfCnpj')?.value }}</b>, impossibilitando assim a emissão da certidão negativa solicitada.
            </p>

            <p>
              Assim, o interessado deverá formalizar o pedido diretamente à Superitendência de Contabilidade através do Sistema Eletrônico de Informações - SEI, no endereço <a href="https://www.sei.ro.gov.br" target="_blank">https://www.sei.ro.gov.br .</a>
            </p>
          </td>
        </tr>

        <tr class="esconder-impressao">
          <td>
            <button printSectionId="print-area"
              styleSheetFile="./assets/css/certidao.css" 
              ngxPrint  pButton type="button" icon="pi pi-print"></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</p-dialog>

<p-card header="Emissão">
  <p-progressBar mode="indeterminate" [style]="progressBarStyle"></p-progressBar>

  <form [formGroup]="formulario" (ngSubmit)="emitir()">
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <label>Tipo *</label>
        <p-selectButton [options]="tipos" formControlName="tipo"
          (onChange)="onTipoSelecionado($event)"></p-selectButton>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>{{ labelCpfCnpj }} *</label>
        <p-inputMask [mask]="maskCpfCnpj" formControlName="cpfCnpj"></p-inputMask>
        <app-message [control]="formulario.get('cpfCnpj')" error="required" text="CPF/CNPJ obrigatório"></app-message>
        <app-message [control]="formulario.get('cpfCnpj')" error="cpfvalidator" text="CPF inválido"></app-message>
        <app-message [control]="formulario.get('cpfCnpj')" error="cnpjvalidator" text="CNPJ inválido"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText formControlName="nomeRazaoSocial" />
        <app-message [control]="formulario.get('nomeRazaoSocial')" error="maxlength" text="Nome/Razão Social deve conter no máximo 45 caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
          <p-captcha siteKey="6LecYzsUAAAAAJoXBe--QbDSlt5TFYUZ-bKtauvv"
          #recaptcha></p-captcha>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-4">
        <button pButton type="submit" label="Emitir" [disabled]="!formulario.valid"
          class="ui-button-info"></button>
      </div>
      <div class="ui-g-6 ui-g-offset-2" style="text-align: right;">
        <a pButton type="button" label="Página inicial" 
          [routerLink]="['/home']"
          href="javascript:;"
          class="ui-button-secondary"
          icon="pi pi-home"></a>
      </div>
    </div>
  </form>
</p-card>
