.certidao-container {
    padding: 0 20px 20px 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.certidao-header {
    width: 100%;
}

.certidao-header .logo-left {
    width: 20%;
}

.certidao-header .logo-left img {
    width: 64px;
}

.certidao-header .text {
    width: 60%;
    text-align: center;
}

.certidao-header .logo-right {
    width: 20%;

    text-align: right;
}

.certidao-header .logo-right img {
    width: 64px;
    height: 85px;
}

.certidao-title {
    width: 100%;

    text-align: center;

    font-size: 18px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;
}

.certidao-person {
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;
}

.certidao-content {
    text-align: justify;
}

.certidao-content p {
    margin-bottom: 10px !important;
}

.table-pendencias {
    width: 100%;

    border-collapse: collapse;

    margin-top: 10px;
    margin-bottom: 20px;
}

.table-pendencias tr td {
    border: 1px solid;
    padding: 5px;
}

.table-pendencias tr th {
    border: 1px solid;
    padding: 5px;
}

.ug-column, .convenio-column {
    text-align: center;
}

.valor-column {
    text-align: right;
}

.total-column {
    text-align: right; 
    font-weight: bolder; 
    border-left: none !important; 
    border-bottom: none !important;
}

.saldo-column {
    text-align: right; 
    font-weight: bolder;
}


@media(max-width: 500px) {
    .certidao-header .logo-left img {
        width: 45px;
    }

    .certidao-header .logo-right img {
        width: 45px;
        height: 65px;
    }

    .certidao-header .text {
        font-size: 12px;
    }

    .certidao-title {
        font-size: 14px;
    }

    .certidao-person {
        font-size: 12px;
    }

    .certidao-content {
        font-size: 11px;
    }

    .certidao-info {
        font-size: 11px;
    }

    .table-pendencias {
        font-size: 11px;
    }
}

@media print {
    .esconder-impressao {
        display: none;
    }
}