<div class="cabecalho">
  <div class="container">
    <div >
      <img src="./assets/image/logo-sefin.svg" alt="" width="200">
    </div>

    <div class="cabecalho-title">
      <strong>Certidão Negativa de</strong><br>
      <strong>Regularidade de Prestação de Contas</strong>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <p-messages></p-messages>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="rodape">
  <div class="container">
    <div class="rodape-text-super">
      <span>Superitendência Estadual de Contabilidade</span>
    </div>
    <div class="rodape-text-gov">
      <span>© 2019 - Governo do Estado de Rondônia</span>
    </div>
    <div class="rodape-logo">
      <img src="./assets/image/brasao-rondonia-grande.png" alt="" width="90">
    </div>
  </div>
</div>