.cabecalho {
    text-align: center;
    color: #Fff;

    margin-top: 20px;
}

.cabecalho .cabecalho-title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 38px;

    margin: 20px 0 20px 0;
}

.content {
    margin: 40px 0 40px 0;
}

.rodape {
    border-top: 1px solid #7d8285;
    color: #fff;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.rodape-text-super {
    font-size: 28px;

    margin-bottom: 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}