<div class="manutencao-container">
  <div class="manutencao-title">
    <h1>Estamos em Manutenção</h1>
  </div>
  <div class="manutencao-image">
    <img src="./assets/image/maintenance.png">
  </div>
  <div class="manutencao-text">
    <h2>Caro usuário,</h2>
    <p>{{ manutencaoMessage }}</p>
  </div>
</div>