body {
    background-color: #006699 !important;

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    color: #fafafa;
}

.ui-dialog-content {
    /* height: 100% !important; */
    border: 0 !important; 

    margin: 0 !important;
    padding: 0 !important;
}

a:not(.ui-state-default) {
    color: #006699 !important;
}

a:hover:not(.ui-state-default) {
    color: #7d8285 !important;
}

a.ui-state-active {
   background-color: #006699 !important;
}

.ui-selectbutton .ui-button.ui-state-active {
    background-color: #006699 !important;
    border-color: #006699 !important;
}

.ui-selectbutton .ui-button.ui-state-active:hover {
    background-color: #005580 !important;
    border-color: #005580 !important;
}

.ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: #006699 !important;
}

.ui-button-info {
    background-color: #006699 !important;
    border-color: #006699 !important;
}

.ui-button-info:hover {
    background-color: #005580 !important;
    border-color: #005580 !important;
}

.ui-progressbar .ui-progressbar-value {
    background: #006699 !important;
}