<div class="info">
  <img src="./assets/image/siafem.png">

  <p class="info-text">
    Sistema de Emissão de Certidão Negativa de Diárias, Suprimentos de Fundos, Diversos Responsáveis e Convênios. Conforme instrução normativa 
    <a class="info-link" href="http://www.contabilidade.ro.gov.br/data/uploads/2015/12/Instrucao_Normativa_001.2018.SEFIN_SUPER___DOE_11.05.2018.pdf" target="_blank">
      IN 001-2018 SUPER/SEFIN DOE de 11/05/2018 – Expedição de Certidões
    </a>
  </p>
</div>

<div class="botao-grupo">
    <div class="ui-g">
      <div class="ui-g-5 ui-sm-12 botao">
        <a [routerLink]="['/emissao']">
          <i class="pi pi-file"></i>
          <h3>Emissão</h3>
          <p class="botao-descricao">Acesse para emitir certidões de Diárias, Suprimentos de Fundos, Diversos Responsáveis e Convênios.</p>
        </a>
      </div>
      <div class="ui-g-5 ui-sm-12 ui-md-offset-2 botao">
        <a [routerLink]="['/autenticacao']">
          <i class="pi pi-check"></i>
          <h3>Autênticação</h3>
          <p class="botao-descricao">Acesse para autênticar sua certidão de Diárias, Suprimentos de Fundos, Diversos Responsáveis e Convênios.</p>
        </a>
      </div>
    </div>
</div>