.info {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    
    color: #fff;

    text-align: center;
    margin: 20px 0 40px 0;
}

.info-text {
    font-size: 18px;
    color: rgb(209,228,241);
    margin: 20px auto 0;
    width: 70%;
}

.info-link {
    color: #ff8686 !important;
}

.info-link:hover {
    color: #fff !important;
}

.botao-grupo .botao {
    text-align: center;
    background-color: #fff;
}

.botao {
    margin-bottom: 20px;
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border-radius: 10px;
}

.botao a {
    display: block;
    padding: 3em;
}

@media(max-width: 992px) {
    .botao a {
        padding: 1rem;
    }
}

.botao i {
    font-size: 5em;
}

.botao-descricao {
    color: #7d8285;
}